/* Please refer to GTK4 CSS specification */

/* https://docs.gtk.org/gtk4/css-properties.html */

* { all: unset; }

:root {
	--bg:     #161616;
	--fg:     #DDDDDD;
	--accent: #E8A24B;
}

.calendar {
	background-color: var(--bg);
	color: var(--fg);
	padding: 26px;
	font-size: 1.1em;
	border-radius: 10px;

	.icon {
		-gtk-icon-size: 20px;
		margin: 10px;

		transition: transform 200ms, color 200ms;
		color: var(--fg);
		transform: scale(1.0);
	}

	.icon:hover {
		color: var(--accent);
	}

	.icon.pressed {
		transition: transform 100ms, color 100ms;
		color: shade(var(--accent), 0.6);
		transform: scale(0.5);
	}

	.month {
		font-size: 1.2em;
	}

	.year {
		font-size: 0.8em;
	}

	grid {
		padding-top: 15px;
		min-width: 260px;
		min-height: 220px;
	}

	.weekday {
		font-size: 0.8em;
	}

	.day {
		color: shade(var(--fg), 0.3);
		transition-duration: 300ms;
		font-size: 0.6em;

		&.current {
			color: var(--fg);
		}

		&.current.weekend {
			color: var(--accent);
		}

		&.weekend {
			color: shade(var(--accent), 0.3);
		}

		&.today {
			color: var(--accent);
			border-radius: 100%;
			background-color: shade(var(--bg), 1.4);
		}

		&.visible {
			animation: day-animation 250ms ease;
		}

		&:not(.visible) {
			opacity: 0.05;
		}

		&:hover {
			color: red;
		}
	}
}

@keyframes day-animation {
	from { 
		transform: scale(0.4);
		opacity: 0;
		color: var(--accent)
	}
	to   {
		transform: scale(1);
		opacity: 1;
	}
}
